.single_card{
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    div{
        height: 30%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}