.content_section{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 10vh;
    .left_side{
        width: 60%;
        .searching{
            width: 100%;
            height: 5vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: rgba(80, 78, 74, 1);
            form{
                width: 202px;
                height: 40px;
                select{
                    width: 100%;
                    height: 100%;
                    border: 1px rgba(233, 233, 237, 1) solid;
                    option{
                        p{
                            font-size: 16px;
                            color: rgba(233, 233, 237, 1);
                        }
                           
                        
                        
                    }
                }
            }
        }
        .pages{
            height: 10vh;
            width: 55%;
            margin-top: 3vh;
            display: flex;
            align-self: flex-end;
            justify-self: flex-end;
            flex-direction: row;
            justify-content: space-between;
            .pages_btns{
                display: flex;
                flex-direction: row;
                .btn_red{
                    height: 41px;
                    width: 40px;
                    background-color: rgba(242, 39, 53, 1);
                    border-radius: 5px;
                    color: white;
                }
                .btn_white{
                    border: none;
                    height: 41px;
                    width: 40px;
                    background-color: rgba(242, 39, 53, 0);
                }
            }
            button{
                background-color: white;
                border: 1px rgba(242, 39, 53, 1) solid;
                width: 88px;
                height: 40px;
                text-transform: uppercase;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                font-weight: 700;
                border-radius: 5px;
            }
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;       
        }

    }
    
}

.card{
    height: 596px;
    width: 296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    .card_img{
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        box-shadow: 5px 1px 8px 10px rgba(34, 60, 80, 0.2);
        div{
            width: 54px;
            height: 28px;
             background-color: rgba(242, 39, 53, 1);
             text-transform: uppercase;
             color: white;
             display: flex;
             align-items: center;
             justify-content: center;
             margin-top: 10px;
             margin-left: 10px;
             font-size: 12px;
        }
    }
    .card_text{
        height: 25%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        h6{
            font-size: 19px;
        }
        p{
            color: rgba(80, 78, 74, 1);
            font-size: 19px;
        }    
        button{
            width: 156px;
            height: 40px;
            background-color: rgba(242, 39, 53, 1);
            border: none;
           
            a{
                 color: white;
                font-size: 17px;
                text-decoration: none;
            }
        }
    }
}

.sidebar_content{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .search{
        width: 100%;
        input{
            height: 40px;
            width: 100%;
            border: 1px rgba(233, 233, 237, 1) solid;
            font-size: 16px;
        }
        margin-bottom: 3vh;
    }
    div{
        h4{
            font-size: 17px;
            text-transform: capitalize;
            font-weight: 700;
        }
        ul{
            list-style: none;
        }
    }
}

.little_card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    .img_card{
        width: 87px;
        height: 87px;
        box-shadow: 5px 1px 5px 5px rgba(34, 60, 80, 0.2);
    }
    div{
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h5{
            font-size: 15px;
        }
        p{
            font-size: 15px;
        }
        ul{
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            img{
                width: 11px;
                height: 10px;
            }
        }
    }
}

